image {
    object-fit: cover;
    width: 10%;
    height: 10%;
    position: relative;
    z-index: -1;
}

.about-me {
    margin-bottom: 2rem;
}

.bio-container {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: start;
    align-items: left;
    padding-top: 1rem;
    padding-left: 3rem;
    margin: 3rem 3rem;
}

.text-container {
    /* background-color: beige; */
    width: 100%;
}

hr.solidd{
    border-top: 1px solid #bbb;
    width: 100%;
}

.profile-photo {
    height: 300px;
    /* width: 300px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}

.cv-container {
    display: flex;
    /* background-color: antiquewhite; */
    flex-direction: column;
    align-items: center;
    max-height: 800px;

}

@media screen and (max-width: 960px) and (min-width: 500px) {

    .bio-container{
        display: flex;
        flex-direction: row;
    }
    .profile-photo {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        align-items: start;
        width: 100px;
        height:100px;
    }

    .text-container {
        min-width: 250px;
        /* align-items: center; */
        align-items: center;
    }

    .cv-container {
        width: 100%;

    }

}