image {
    object-fit: cover;
    width: 10%;
    height: 10%;
    position: relative;
    z-index: -1;
}

.about-me {
    margin-bottom: 2rem;
}

.space{
    color: white;
}

.bio-container {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: start;
    align-items: left;
    padding-top: 1rem;
    padding-left: 3rem;
    margin: 3rem 3rem;
}

.text-container {
    /* background-color: beige; */
    width: 100%;
    text-align: justify;
}

hr.solidd{
    border-top: 1px solid #bbb;
    width: 100%;
}

.profile-photo {
    height: 300px;
    /* width: 300px; */
    align-items: center;
    /* display: flex;
    flex-direction: column; */
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}

.cv-container {
    display: flex;
    /* background-color: antiquewhite; */
    flex-direction: column;
    align-items: center;
    max-height: 800px;

}

@media screen and (max-width: 960px) {

    .bio-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        margin-left: 0rem;
        min-width: 100%;
        justify-content: start;
        align-items: left;
        padding-top: 1rem;

    }
    .profile-photo {
        /* flex-direction: row; */
        align-self: center;
        /* align-items: center; */
        width: 465px;
        height:300px;
        margin-right: 3rem;
        /* padding-left: 0rem; */
        margin-left: 0px;
        /* padding: 0px; */

    }

    .text-container {
        min-width: 70%;
        align-self: center;
        /* align-items: flex-start; */
        margin-right: 3rem;

    }

    .cv-container {
        width: 100%;

    }

}