.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
}    

/* climbing */
.d1-1{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136018/climbing_ceujsw.png');
    min-width: 33.3%;
    min-height: 300px;
    align-items: flex-start;
    /* background-color: aliceblue; */
    text-align: center;
}

/* biking adventures */
.d1-2{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136017/binking_adv_wvlov1.png');
    min-width: 33.4%;
    min-height: 300px;
    align-items: center;
    /* background-color: honeydew; */
    text-align: center;
}

/* yosemite */
.d1-3{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136025/yvtp_kdfbrj.png');
    min-width: 33.3%;
    min-height: 300px;
    align-items: flex-end;
    background-color: aquamarine;
    text-align: center;
}

/* grad */
.d2-1{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136020/grad_c9ra1i.png');
    min-width: 33.3%;
    min-height: 300px;
    align-items: flex-start;
    background-color: aliceblue;
    text-align: center;
}

/* grad */
.d2-2{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136020/icwr_u9vnny.png');
    min-width: 33.4%;
    min-height: 300px;
    align-items: center;
    background-color: honeydew;
    text-align: center;
}

/* kt */
.d2-3{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136021/kt_j9nz7z.png');
    min-width: 33.3%;
    min-height: 300px;
    align-items: flex-end;
    background-color: aquamarine;
    text-align: center;
}

/* friends */
.d3-1{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136019/digital_friends_vsuw35.png');
    min-width: 33.3%;
    min-height: 300px;
    align-items: flex-start;
    background-color: aliceblue;
    text-align: center;

}

/* scuba */
.d3-2{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136024/scuba_zylfdk.png');
    min-width: 33.4%;
    min-height: 300px;
    align-items: center;
    background-color: honeydew;
    text-align: center;
}

/* night */
.d3-3{
    background-image: image-set('https://res.cloudinary.com/dxewrioco/image/upload/v1718136023/night_rftgi3.png');
    min-width: 33.3%;
    min-height: 300px;
    align-items: flex-end;
    background-color: aquamarine;
    text-align: center;
}

.btnn{
    color: #242424;
    padding-top: 100px;
    text-decoration: none;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* color: rgba(0, 0, 0, 0.75); */
}

.btnn:hover{
    border-width: 2px;
    text-decoration: underline  ;
    color: #242424;
    background-color: rgba(255, 255, 255, 0.5);
}


@media screen and (max-width: 960px) and (min-width: 500px) {
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }    
    
    
    .d1-1{
        min-width: 100%;
        min-height: 300px;
        align-items: flex-start;
        background-color: aliceblue;
        text-align: center;
    }
    .d1-2{
        min-width: 100%;
        min-height: 300px;
        align-items: center;
        background-color: honeydew;
        text-align: center;
    }
    .d1-3{
        min-width: 100%;
        min-height: 300px;
        align-items: flex-end;
        background-color: aquamarine;
        text-align: center;
    }
    
    .d2-1{
        min-width: 100%;
        min-height: 300px;
        align-items: flex-start;
        background-color: aliceblue;
        text-align: center;
    }
    .d2-2{
        min-width: 100%;
        min-height: 300px;
        align-items: center;
        background-color: honeydew;
        text-align: center;
    }
    .d2-3{
        min-width: 100%;
        min-height: 300px;
        align-items: flex-end;
        background-color: aquamarine;
        text-align: center;
    }
    .d3-1{
        min-width: 100%;
        min-height: 300px;
        align-items: flex-start;
        background-color: aliceblue;
        text-align: center;
    }
    .d3-2{
        min-width: 100%;
        min-height: 300px;
        align-items: center;
        background-color: honeydew;
        text-align: center;
    }
    .d3-3{
        min-width: 100%;
        min-height: 300px;
        align-items: flex-end;
        background-color: aquamarine;
        text-align: center;
    }

}